#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}
.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .app {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.app {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/city.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    background: whitesmoke;
    width: 90%; 
    max-width: 400px; 
    padding: 2%;
    box-shadow: 10px 10px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 1.5rem; 
    margin-bottom: 1rem; 
}

.button {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 50px; 
    width: 150px; 
    background-color: #ffffff;
    border: 1px solid rgba(22, 76, 167, 0.6);
}

.button span {
    color: #164ca7;
    font-size: 0.9rem; 
    font-weight: 500;
    letter-spacing: 0.7px;
}

.button:hover {
    animation: rotate 0.7s ease-in-out both;
}

.button:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}



@media (max-width: 359px) {
    .card {
        width: 95%; 
    }

    .button {
        height: 40px;
        width: 120px;
    }
}

@media (min-width: 360px) and (max-width: 599px) {
    .card {
        width: 90%;
    }

    .button {
        height: 45px;
        width: 130px;
    }
}

@media (min-width: 600px) {
    .card {
        width: 80%; 
    }
}

@media (min-width: 1024px) {
    .card {
        width: 70%; 
    }
}
