.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  .nav-link:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  